.cardContainer {
    width: 400px;
    height: 170px;
    background: #252526;
    display: inline-block;
    margin: 25px;
    padding: 20px;
    color: #007acc;
    border-radius: 10px;
    cursor: pointer
}

.cardLabel {
    font-size: 22px;
    font-weight: 600;
}