<div>
  <form #createGoalForm="ngForm" autocomplete="off" (ngSubmit)="createGoal(createGoalForm.value)">
    <div class="form-group">
      <label class="form-label" [style.color]="colors.primary">Goal Name</label>
      <input
        class="form-control"
        (ngModel)="(label)"
        name="label"
        type="text"
        placeholder="Goal Name..."
        id="label"
        required
      />
    </div>
    <div class="form-group">
      <label [style.color]="colors.primary">Required time (minutes)</label>
      <input
        class="form-control"
        (ngModel)="(minutesRequired)"
        name="minutesRequired"
        type="text"
        placeholder="Required time (minutes)..."
        id="minutesRequired"
        required
      />
    </div>
    <button class="btn btn-primary" [disabled]="createGoalForm.invalid" type="submit">Create</button>
  </form>
</div>
